
@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap');


*{
    font-family: 'Belanosima', sans-serif;
    background-image: url("../imagenes/fondo-pastel-ancho.jpg");
    background-repeat: repeat;
    background-size: 100%;
}

a{
    background: none;
    text-decoration: none;
    color: rgb(103, 103, 216);
}
.texto-inicial{
    padding: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: none;
    font-size: x-large;
    text-decoration: none;
}
.logo-odonto{
    height: 80px;
    background: none;
}
.banner{
    height: 25%;
    width: 100%;
}
.imagen-banner{
    text-align: center;
    background: repeat;
    border: 1px solid;
    padding: 2%;
}
.background{
    height: 300px;
    width: 100%;
}
footer{
    background: repeat;
    display: flex;
    justify-content: space-around;
    background: none;
}
.cards-galeria{
    background: none;
}
p{
    background: none;
}
.cajas-container{
    border: 1px solid;
    flex: auto;
    text-align: center;
    padding: 1%;
    background: none;
}
.imagen-tamaño{
    margin-top: 25px;
    padding: 1%;
    height: 190px;
    width: 230px;
}
h3{
    background: none;
}
